body{
	background-image: url("../images/fabric.png");
}

html, body{
	height:100%;
	margin:0;
}

h1, h2, h3{
	font-family: 'Georgia', Times, "Times New Roman", serif;
}

h1{
	font-size: 40px;
	padding-top: 20px;
}

h2, h3{
	color:#4aaaa5;
}

h2{
	font-size:30px;
}

h3{
	font-size: 20px;
}

.play{
	min-height: 100%;
}

header {
	color: #4aaaa5;
	background-color: #ffffff;
	border-bottom: 2px solid #cccccc;
	float: left;
	height: 80px;
	width:100%;
	position: fixed;
	top: 0;
	left:0;
	z-index: 2;
}

.logo{
	background-color: #4aaaa5;
	color: #ffffff;
	width: 350px;
	height:80px;
	text-align: center;
	float: left;
	margin-left: 200px;
	margin-top: 0px;
}

ul{
	list-style-type: none;
	margin-right: 200px;
	margin-top:47px;
	padding: 0;
}

li{
	float: right;
	font-size:20px;
}

li a{
	display: block;
	text-align: center;
	padding: 5px 16px;
	text-decoration: none;
	color: #4aaaa5;
}

.navbar a:hover {
	border: 2px solid #666666;
	background-color: #b3a959;
	color: #e6e6e6;
	padding: 5px 14px;
}

.tree{
	min-height: 100%;
	width: 960px;
	margin-left:190px;
	padding-top: 15px;
	padding-bottom: 108px;
}

.main{
	position:relative;
	top:0;
	background-color: #ffffff;
	background-image: url("../assets/images/fabric.png");
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	width: 630px;
	height:100%;
	border: 5px solid #dddddd;
	margin-top: 75px;
	margin-bottom: 5px;
	padding: 10px 5px;
 	display: inline-block;
 }

.main h2{
	padding-left: 10px;
	border-bottom: 5px solid #e6e6e6;
}

.main p{
	padding-top:10px;
	font-size:18px;
	padding-right:5px;
	padding-left:5px;
}

#me{
	background-image:url("../images/birthday.JPG");
	background-size:cover;
	display: block;
	float: left;
	height: 260px;
	width:300px;
	margin: 10px 5px;
	margin-bottom: 5px;
	padding:10px 10px 5px 5px;
}

.sidebar{
	display:inline-block;
	width: 260px;
	float:right;
	text-align: center;
	background-color: #ffffff;
	padding-top:10px;
	padding-bottom: 7px;
	margin-top: 75px;
	border: 5px solid #dddddd;
}

.sidebar h3{
	margin-bottom: 3px;
}

.icon{
	display: inline;
	height: 40px;
	width: 40px;
	padding:7px;
}

.lin{
	height: 46px;
	width: 46px;
	padding: 4px;
}

a:hover .gth{
	background-color: #b3a959;
	border: 2px solid #4aaaa5;
	padding: 5px;
}

a:hover .lin{
	background-color: #e6e6e6;
	border: 2px solid #4aaaa5;
	padding: 2px;
}

a:hover .sof{
	background-color: #4aaaa5; 
	border: 2px solid #666666;
	padding: 5px;
}

form{
	margin-top:15px;
}

form #pretty{
	font-family: 'Georgia', Times, "Times New Roman", serif;
	font-size: 20px;
	height:30px;
	width: 100px;
	background-color: #4aaaa5;
	color:#ffffff;
	text-align: center;
}

#comment{
	width: 550px;
	height: 100px;
}

.projects{
	padding-top:-80px;
}

.projects p{
	font-family: 'Georgia', Times, "Times New Roman", serif;
	font-size: 20px;
	height:25px;
	width: 230px;
	background-color: #4aaaa5;
	color:#ffffff;
	text-align: center;
	padding-top: 5px;
	padding-left:0;
	padding-right:0;
	position:absolute; 
	top:90px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #4aaaa5;
}

.projects a:hover .overlay{
	opacity: 1;
}

.text{
	color:#ffffff;
	font-size:30px;
	position: absolute;
	text-align: center;
	top: 20%;
}

.left{
	width: 230px;
	height: 150px;
	margin:10px 25px 15px 50px;
	background-size: cover;
	display: inline-block;
	position: relative;
	clear: left;
}

.right{
	width: 230px;
	height: 150px;
	margin:10px 50px 15px 25px;
	background-size: cover;
	display: inline-block;
	position: relative;
	clear: right;
}

#hangman{
	background-image: url("../images/wirecoil.jpg");
}

#rpg{
	background-image: url("../images/pad.jpg");
}

#trivia{
	background-image: url("../images/headphones.jpg");
	margin-top: 5px;
}

#widget{
	background-image: url("../images/switches.jpg");
	margin-top: 5px;
}

#roshambo{
	background-image: url("../images/machine.jpg");
	margin-top: 5px;
}

footer{
	clear:both;
	background-color: #666666;
	border-top: 5px solid #4aaaa5;
	color:#ffffff;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	margin-top:-105px;
	bottom: 0;
    left: 0;
    right: 0;
    height:100px;
    width: 100%;
    text-align: center;
}

footer p{
	margin-top: 50px;
}

@media screen and (max-width: 980px){
	.play{
		width: 100%;
	}
	
	header{
		width: 100%;
	}
	
	.logo{
		width: 30%;
		height: 100%;
		display: inline-block;
		margin: 0;
		margin-left: 12%;
	}
	
	.logo h1{
		font-size:200%;
		padding: 0;
		padding-top: 7%;
	}
	
	.navbar{
		width:30%;
		display: inline-block;
		float: right;
		margin: 0; 
		margin-right: 10%;
		margin-top: 5%;
	}
	
	li{
		width: 33.33%;
	}
	
	.tree{
		width: 100%;
		margin:0;
	}
	
	.main{
		width: 40%;
		margin-left: 12%;
		display: inline-block;
	}

	.main h2{
		width: 95%;
		margin-left: 2%;
	}
	
	#me{
		width: 94%;
		padding: 0;
		margin:3%;
	}
	
	.main p{
		width: 94%;
		margin: 3%;
		padding:0;
	}
	
	.sidebar{
		width:25%;
		margin-right: 11.5%;
		display:inline-block;
		padding: 0;
	}
	
	.projects{
		width: 100%;
	}
	
	.projects p{
		width:100%;
		margin:0;
		padding-top: 2%;
	}
	
	.left{
		width:90%;
		margin: 2.5% 5%;
	}
	
	.right{
		width: 90%;
		margin: 2.5% 5%;
	}

	.text{
		text-align: center;
		padding-top: 4%;
		font-size: 2em;
	}

	#nombre{
		margin-left: 5%;
	}

	#nom{
		width: 90%;
		margin-left: 5%;
	}

	#note{
		margin-left: 5%;
	}

	#letter{
		width: 90%;
		margin-left: 5%;
	}

	#remark{
		margin-left: 5%;
	}

	#comment{
		width: 90%;
		margin-left: 5%;
	}

	#pretty{
		margin-left:5%;
	}
}

@media screen and (max-width: 768px){
	
	.play{
		width:100%;
	}
	
	header{
		width: 100%;
		border-bottom: 2px solid #cccccc;
	}
	
	.logo{
		width:33.33%;
		height: 100%;
		display: inline-block;
		margin:0;
		margin-left: 5%;
		text-align: center;
	}
	
	/*The font in the logo is not vertically centered because
	my name swaps from single line to double line at a screen
	width of 662. I felt this was the best compromise between
	the two looks.*/
	
	.logo h1{
		font-size: 190%;
		padding-top: .5em;
	}
	
	.navbar{
		width: 40%;
		height: 30%;
		margin:0;
		margin-top:6%;
		float: right;
	}
	
	li{
		width:33.33%;
		text-align: center;
	}
	
	.tree{
		width:100%;
		margin:0;
	}
	
	.main{
		width: 95%;
		border-width:2px;
		padding:1% .5% .5% .5%;
		margin: 75px 1% .5% 1%; 
		display:inline-block;
	}
	
	.main p{
		padding: 1% .9%;
	}
	
	#me{
		width: 40%;
		height: 15em;
		margin:1.2% 1% .3% .5%;
		padding:0;
	
	}
	
	.sidebar{
		width: 95%;
		display:block;
		text-align: left;
		border-width: 2px;
		padding-left:1.5%;
		margin: .6% 2% 2% 1%;
	}

	.icon{
		display: inline-block;
		float:left;
	}
	
	.projects{
		width: 100%;
		height:35em;
		margin:1%;
		margin-left:0;
	}

	.projects p{
		width: 100%;
		height: 25%;
		padding:0;
		padding-top: .5%;
		margin-top:5%;
		font-size: 210%;
	}

	.left{
		width: 45%;
		height: 10em;
		margin: 2% 2% 3% 2%;
		float: left;
	}
	
	.right{
		width: 45%;
		height: 10em;
		margin: 2% 2% 3% 2%;
		float: right;
	} 

	.text{
		text-align: center;
		font-size: 2.5em;
		padding: 0;
		top: .5em;
	}

	.form{
		width: 98%;
		padding-left: 5%
	}

	#nombre{
		margin-left: .25%;
	}

	#nom{
		width: 98%;
		margin-left: .25%;
	}

	#note{
		margin-left:.25%;
	}

	#letter{
		width: 98%;
		margin-left:.25%;
	}

	#remark{
		margin-left: .25%;
	}

	#comment{
		width: 98%;
		margin-left:.25%;
	}

	#pretty{
		margin-bottom: 1%;
		margin-left:0;
	}
}

@media screen and (max-width: 640px){
	
	header{
		width:100%;
		position: static;
	}

	.logo{
		width:100%;
		height: 60%;
		margin: auto;
	}

	.logo h1{
		text-align: center;
		font-size: 210%;
		padding-top: .3em;
	}

	.navbar{
		width:100%;
		height:40%;
		float: none;
		display:block;

	}

	li{
		width: 33.33%;
	}

	.play{
		width:100%;
	}

	.tree{
		width:100%;
		margin: auto;
	}
	
	.main{
		width:90%;
		height: 100%;
		border-width:2px;
		margin: 2% 2.5%;
		padding:1% 3% 1% 2%;
	}

	.main h2{
		width: 99%;
		margin-left: 0;
	}

	.main p{
		clear: right;
		font-size:110%;
		text-align: left;
		float: left;
		width: 100%;
		margin:auto;
		margin-left:.3%;
		margin-right:2%;
		padding: 1%;
		padding-left:.5%;
		padding-right: 2%;
	}

	.sidebar{
		width:100%;
		border: 1px solid #dddddd;
		border-right-style: none;
		border-left-style: none;
		margin-top:1.5%;
		margin-bottom: 3%;
		text-align: center;
	}

	.icon{
		float: none;
	}

	#me{
		width:80%;
		height:20em;
		padding: 2% 1% 1% 1%;
		margin: 2% 0% 1% 10%;
		display: inline-block;
		float: left;
		clear: left;
	}

	form{
		margin:auto;
		margin-top: 1em;
	}

	/*The Submit button is below. I wanted it the full width of 
	the screen to make it easy to see, even on the smallest screen.*/

	form #pretty{
		font-size: 150%;
		margin:0;
		padding:0.25% 0;
		height:1.5em;
		width: 100%;
	}

	#nom{
		width:100%;
	}

	#letter{
		width:100%;
	}

	#comment{
		width: 100%;
		height:10em;
	}

	.projects{
		padding: .05% 0em;
		padding-bottom: .05em;
		margin:0;
	}

	.projects p {
		font-size: 200%;
		height: 1em;
		padding:0;
		padding-top: .05%;
		padding-bottom:0;
		margin:0;
		text-align: center;
		top: 55%;
	}

	.left{
		width: 100%;
		height: 10em;
		float: left;
		margin: 0;
		margin-top: 1.5%;
		margin-bottom: .3em;
		padding:0;
		padding-top: 1%;
		padding-bottom: .2%;
	}

	.right{
		width:100%;
		height: 10em;
		float: left;
		margin: 0;
		margin-top: 1.5%;
		margin-bottom: .3em;
		padding:0;
		padding-top: 1%;
		padding-bottom: .2%;
	}

	.text{
		text-align:center;
		font-size: 3em;
 		top: .75em;
	}
}